.show-details-button {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 300ms ease 100ms;
  background: transparent;
  border: 0;
  outline: none;
  display: none;

}

.show-details-button div {
  display: flex;

  color: white;
  /* z-index: 1; */

}