.slider {
  display: flex;
  position: relative;
}

.slider__container {
  display: flex;
  padding: 0 55px;
  transition: transform 300ms ease 100ms;
  z-index: 3;
  width: 100%;

}

.slider:not(.slider--open) .item:hover .show-details-button {
  opacity: 1;
  display: flex;
}

.slider:not(.slider--open) .item:hover {
  transform: scale(1.2) !important;
}

.slider:not(.slider--open):hover .item {
  transform: translateX(-10%);
}

.slider:not(.slider--open) .item:hover~.item {
  transform: translateX(10%);
}