@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("~slick-carousel/slick/slick-theme.css");
@import url("~slick-carousel/slick/slick.css");

@import "react-alice-carousel/lib/alice-carousel.css";



@font-face {
  font-family: NetflixSansBold;
  src: url(../fonts/NetflixSansBold.ttf);
}

@font-face {
  font-family: NetflixSansLight;
  src: url(../fonts/NetflixSansLight.ttf);
}

@font-face {
  font-family: NetflixSansMedium;
  src: url(../fonts/NetflixSansMedium.ttf);
}

@font-face {
  font-family: NetflixSansRegular;
  src: url(../fonts/NetflixSansRegular.ttf);
}

@font-face {
  font-family: NetflixSansThin;
  src: url(../fonts/NetflixSansThin.ttf);
}

body {
  margin: 0;
  font-family: 'Netflix Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  overflow-x: hidden;
  color: gray;

}



.App {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}






.car:hover {
  transform: translateX(10px) rotate(10deg) translateY(5px) translateZ(1);

}